.github {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 1000;
}
.github img {
    width: 40px;
}

.section {
    width: 100%;
    height: 600px;
    position: relative;
    display: table;
}
.sec1 { background: royalblue; }
.sec2 { background: tomato; }
.sec3 { background: hotpink; }
.sec4 { background: aquamarine; }
.sec5 { background: yellowgreen; }
.section .index {
    font-size: 100px;
    color: #FFF;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.pager {
    position: absolute;
    top: 0;
    left: 0;
}
.pager li {
    width: 50px;
    height: 50px;
    margin: 10px;
    background: tomato;
    color: #FFF;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.pager li.active {
    background: #1f1f1f;
}
#section-change-line {
    width: 400px;
    height: 1px;
    background: black;
    opacity: .5;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
#section-change-line .info {
    position: absolute;
    top: -20px;
    left: 10px;
}
#section-change-line .info span {
    font-weight: bold;
}